{% extends "base.html" %}

{% block title %}{% endblock %}

{% block header %}
{% endblock %}

{% block page_content %}
<div class="card " style="height: 25rem;width: 25rem;margin: auto;">

  <label style="margin-left: auto;margin-right: auto;" for="exampleFormControlInput1" class="form-label fs-4 fw-semibold text-decoration-underline">Username</label>
  <input   type="email" class="form-control" id="exampleFormControlInput1" >

  <label style="margin-left: auto;margin-right: auto;" for="exampleFormControlInput1" class="form-label fs-4 fw-semibold text-decoration-underline">Password</label>
  <input   type="password" class="form-control" id="exampleFormControlInput2" >

  <button type="button" class="btn btn-primary" style="margin-top: 8%">Sign In</button>

  <a href="http://127.0.0.1:8000/sign_up" style="margin-top: 8%;margin-left: 70%" >Sign Up</a>


</div>


{% endblock %}

{% block scripts %}

{% endblock %}
