<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="http://127.0.0.1:8000/">Elgun's Valorant Api</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="http://127.0.0.1:8000/" style="padding-top: 20px">Home</a>
        <a class="nav-link" href="http://127.0.0.1:8000/news" style="padding-top: 20px">News</a>
        <a class="nav-link" href="http://127.0.0.1:8000/rankings" style="padding-top: 20px">Team Rankings</a>

        <a class="nav-link" href="http://127.0.0.1:8000/login" style="margin-left: 600px"><button type="button" class="btn btn-primary btn-lg">Login</button></a>

        <a class="nav-link" href="http://127.0.0.1:8000/sign_up"> <button type="button" class="btn btn-outline-primary btn-lg" >Sign Up</button></a>


      </div>
    </div>
  </div>
</nav>
