{% extends "base.html" %}

{% block title %}{% endblock %}

{% block header %}
{% endblock %}

{% block page_content %}
{% for news in news_data%}
  <div class="card" style="width: 50rem;">
    <div class="card-body">
      <a href="https://www.vlr.gg{{news_data[loop.index0]['url_path']}}"class="stretched-link"><h5 class="card-title">{{news_data[loop.index0]["title"]}}</h5></a>
      <h6 class="card-subtitle mb-2 text-muted">{{news_data[loop.index0]["date"]}}    </h6>
      <h6 class="card-subtitle mb-2 text-muted">{{news_data[loop.index0]["author"]}}  </h6>

      <p class="card-text">{{news_data[loop.index0]["description"]}}</p>
      <a href="https://www.vlr.gg{{news_data[loop.index0]['url_path']}}"  class="stretched-link">Vlr Link</a>
    </div>
  </div>
{% endfor %}
{% endblock %}

{% block scripts %}


{% endblock %}
