{% extends "base.html" %}
<style>
.div-1 {
  style="white-space:nowrap;"
}
</style>

{% block title %}{% endblock %}

{% block header %}
{% endblock %}

{% block page_content %}
{% for i in ranking_data %}

<div class="card">
  <div class="card-body">
    <h5 class="card-title">{{i}}:</h5>

    <div> class="div-1"
      <img src={{ranking_data[i][0]["logo"]}}   style="width:50px;height:50px;">
      <strong>{{ranking_data[i][0]["rank"]}} </strong>
      <strong>{{ranking_data[i][0]["team"]}} </strong>


  </div>

  </div>





{%- endfor %}

{% endblock %}

{% block scripts %}

{% endblock %}
